asgiref
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
django-filter
PyJWT
pytz
sqlparse
yapf
psycopg2-binary
python-dotenv
whitenoise
gunicorn
whitenoise[brotli]
Faker
pillow
uuid